$font-family: "Urbanist", sans-serif;
$menu-color: var(--Text-Tertiary, #475467);
$primary-color: var(--Text-Primary, #101828);
$primary-s-color: var(--Text-Secondary, #667085);
$secondary-color: var(--Text-Inverted, #FFF);
$asset-color: var(--Text-Brand, #434CE7);
$menu-btn-color: var(--Background-Primary, #3038C6);
$card-text-p-color: #000;
$placeholder-color: var(--Black-500, #667085);